body {
  background: linear-gradient(90deg, rgba(182, 129, 251, 1) 1%, rgba(143, 39, 212, 1) 24%, rgba(232, 176, 237, 0.7457107843137255) 66%, rgba(174, 153, 245, 1) 100%);
  background-size: 500% 100%;
  color: #ffffff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  max-width: 1200px;
  max-height: 1200px;
  margin: 0 auto;
  padding: 15 px;
  padding-bottom: 90px;
  animation: body 5s infinite alternate;
}

@keyframes body {
  0% {
    background-position-x: 5%;
  }

  100% {
    background-position: 100%;
  }
}

#logo-incio {
  width: 10px;
  height: 10px;
  display: flex;
}



header {
  display: flex;
  justify-content: space-between;
}

h1 {
  font-weight: 400;
  font-size: 25px;
  margin-left: 10px;
  border: solid #fff;
  border-radius: 30px;
  padding: 10px;
  width: 25%;
  text-align: center;
}

span {
  color: rgb(139, 8, 63);
}

#title {
  flex-direction: column;
  line-height: 10px;

}

li {
  display: inline-block;
  margin: 10px;

  .bn29 {
    border: none;
    padding: 0.8em 2.5em;
    outline: none;
    color: white;
    font-style: 1.2em;
    position: relative;
    z-index: 1;
    cursor: pointer;
    background: none;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.45);
  }

  .bn29:before,
  .bn29:after {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 10em;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 105%;
    height: 105%;
    content: "";
    z-index: -2;
    background-size: 400% 400%;
    background: linear-gradient(60deg,
        #f79533,
        #f37055,
        #ef4e7b,
        #a166ab,
        #5073b8,
        #1098ad,
        #07b39b,
        #6fba82);
  }

  .bn29:before {
    -webkit-filter: blur(7px);
    filter: blur(7px);
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    -webkit-animation: pulse 10s infinite ease;
    animation: pulse 10s infinite ease;
  }

  .bn29:after {
    -webkit-filter: blur(0.3px);
    filter: blur(0.3px);
  }

  .bn29:hover:before {
    width: 115%;
    height: 115%;
  }
}


/*Corpo do site*/

main {
  display: flex;
  flex-direction: row;
  margin-top: 50px;

}

aside {
  display: block;
  margin: auto;
  margin-top: 20px;
  width: 450px;

}



a {
  color: #f8f5ff;
}

a:hover {
  color: rgb(193, 29, 97);
  transition: 0.3s, all;
}

#Criar-conta-button {
  border: 2px solid rgb(193, 29, 97);
  padding: 10px;
  border-radius: 10px;
}


div#logo {
  display: flex;
  inline-size: 50%;
}


.bn632-hover {
  width: 90px;
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  cursor: pointer;
  height: 40px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.bn632-hover:hover {
  background-position: 100% 0;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.bn632-hover:focus {
  outline: none;
}

.bn632-hover.bn24 {
  background-image: linear-gradient(to right,
      #a59ee5,
      #dda4e5,
      #a3a1ff,
      #c29d9d);
  box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
}

/*corpo do site*/

.form-contact {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
}


.form-contact input[type = "text"],
.form-contact input[type = "tel"],
.form-contact input[type = "email"] {
  width: 70%;
  margin: 3px 0 10px 80px;
  border-radius: 30px;
  padding: 15px;
}

.form-contact h2{
  text-align: center;
  border-bottom: 3px solid rgb(158, 80, 80);
  padding-bottom:px;
}
.form-contact p{
  text-align: center;
  font-weight: bold;
}

.form-contact textarea{
  border-radius: 30px;
  padding: 30px;
}


.form-contact input[type="submit"]{
  width: 30%;
  padding: 15px;
  background-color: #DC4747;
  color: #fff;
  border-radius: 20px;
  margin: 10px 0 20px 200px;
  border: transparent;
  cursor: pointer;

}

.form-contact input[type="submit"]:hover{
  background-color: transparent;
  border: 2px solid #fff;
}


/*Social midea*/

.social-container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  flex-direction: column;
  padding: 20px; 
}

.redes-sociais {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.redes-sociais li {
  margin: 0 10px;
}

.redes-sociais li a {
  font-size: 25px;
  display: block;
  text-align: center;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  background-color: #DC4747;
  color: #ffffff;
  transition: 0.2s;
}

.redes-sociais li a:hover {
  background: transparent;
  border: 3px solid #fff;
  color: #FFF;
}


/*Footer*/

.footer-txt{
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  padding-top:15px;
  color: #c36363a8;
}